* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}

.darkmode {
  background-color: black;
}

.darkmode h1 {
  color: white;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 2em 4em 2em;
}

.darkmodebutton {
  padding: 1em;
  border-radius: 15px;
  border: none;
}

.notes-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 2em;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  background-color: #6bbf59;
  padding: 1em;
  border-radius: 10px;
}
.note.new {
  background-color: #073b3a;
}

textarea {
  border: none;
  resize: none;
  background-color: #073b3a;
}

textarea:focus {
  outline: none;
}

.save {
  border-radius: 10px;
  border: none;
  padding: 0.3em;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span,
small {
  font-family: "Kalam", cursive;
  font-size: 1.1em;
}
h1 {
  font-family: "Nunito", sans-serif;
}
